body{
    margin: 0;
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
      position: relative;
      background: radial-gradient(rgb(140, 207, 240), rgb(132, 231, 228),#3bbee9);
      width: 100%;
      height: 90vh;
      padding-top: 20px;
      color:black (131,128,128);
}

.image{
    position: absolute;
    left: 55%;
    height: 190;
    width: 50;
    bottom: 1px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    border-radius: 50px;
        
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    
}

.Barre ul{
    display: flex;
    list-style: none;
    float: right;
    margin-top: 20px;

}
ul li{
    list-style: none;
    float: right;
    margin-top: 10PX;
    font-weight: bold;
    
}

li a{
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #020202   
    

}

li a:hover{
    color: blue;
}
.logo{
    width: 100px;
    height: 100px;
    background:none;
    font-size: x-small;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    
}

.connexion{
    display: flex;
    position: relative;
    width: 20%;
    height: 40px;
    border: 1px solid #f1f1f1;
    float: right;
    

}
.connexion:hover {background-color:#f1f1f1;

}

.login{
    width: 50%;
    height: 50%;
    text-align: center;
    line-height: 40px;text-decoration: none;

}

.some{
    margin: 200px 0 40px 40px;
    
}

.some span {
    color:black(128,128,128);
}
.some a{
    font-size: 12px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 40px;
    color: white;
    text-transform: uppercase;
    border: 1px solid #f1f1f1;
    position: absolute;
    margin: 20px;
    background-color: blue;
}
.some a:hover{
    background: black;
    color:blue (128,128,128);
}

.Principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

}

.produit{
    text-align: center;
    width: 200px;
    padding: 1px;
    border-radius: 25px;
    text-align: center;
    background: #f1f1f1;
    margin: 45px;

     
    }
.produit img{
    width: 120%;
    height: 280px;
     background-color: rgb(234, 236, 238);
    cursor: pointer;
    border-radius: 30px;
    justify-content: space-between
    
          
}
.produit .prix{
    width: 100%;
    background: rgb(0, 225, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;

}
.nouveau{
    background: radial-gradient(rgb(140, 202, 240), rgb(132, 196, 231),#3bc9e9);
    display:flex;
    justify-content:space-around ;
    position: relative;
    padding-right: 10%;
    width: 100%;
    margin: 0px;
    
}

footer {
    background-color: #020202;
    color: #f1f1f1;
    padding: 20px;
    text-align: center;
    justify-content: space-around;
    

  }

  footer a {
    color: whitesmoke;
    text-decoration: none;
    margin:  10px;
    
  }

  footer a:hover {
    color: #ff6347;
  }

  footer nav {
    margin-bottom: 10px;
  }

  footer div {
    margin-top: 10px;
  }
  footer .icone img{
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: #f1f1f1;
    border-radius: 50%;
    padding: 0;
    
}
.icone{
    display: block;
    gap: 10px;
}


